<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:hive="http://typo3.org/ns/HIVE/HiveCptCntImg/ViewHelpers">

    <f:layout name="Default" />

    This Template is responsible for creating a table of domain objects.

    If you modify this template, do not forget to change the overwrite settings
    in /Configuration/ExtensionBuilder/settings.yaml:
    Resources:
    Private:
    Templates:
    List.html: keep

    Otherwise your changes will be overwritten the next time you save the extension in the extension builder

    <f:section name="main">

        <f:for each="{contactperson}" as="contactperson" iteration="i" key="index">
            <div class="row">
                <f:if condition="{contactperson.image.uid} != ''">
                    <f:then>
                        <div class="col person_img align-self-center">
                            <hive:cptCntImg uid="{contactperson.image.uid}"/>
                        </div>
                    </f:then>
                </f:if>
                <div class="col person_info align-self-center">
                    <h3>{contactperson.sector.title}</h3>

                    <f:if condition="{contactperson.additional} != ''">
                        <f:format.html>{contactperson.additional}</f:format.html>
                    </f:if>
                    <p>
                        <f:format.raw>{contactperson.name}</f:format.raw><br>
                        <f:if condition="{contactperson.phone} != ''">
                            <a href="tel:{contactperson.phone}" class="phone"><f:format.raw>{contactperson.phone}</f:format.raw></a><br>
                        </f:if>
                        <f:if condition="{contactperson.mobile} != ''">
                            <a href="tel:{contactperson.mobile}" class="mobile"><f:format.raw>{contactperson.mobile}</f:format.raw></a><br>
                        </f:if>
                        <f:if condition="{contactperson.fax} != ''">
                            <a href="fax:{contactperson.fax}" class="fax"><f:format.raw>{contactperson.fax}</f:format.raw></a><br>
                        </f:if>
                        <f:if condition="{contactperson.email} != ''">
                            <a href="mailto:{contactperson.email}" class="email"><f:format.raw>{contactperson.email}</f:format.raw></a><br>
                        </f:if>
                        <f:if condition="{contactperson.url} != ''">
                            <a href="{contactperson.url}" target="_blank" class="url"><f:format.raw>{contactperson.url}</f:format.raw></a><br>
                        </f:if>
                    </p>
                </div>
            </div>
        </f:for>

    </f:section>



</div>