@import "hive_thm_custom/Resources/Private/Assets/Scss/Import/index";

.hive-cpt-cnt-contactperson {
  .sector_title {
    h2 {
      color: $primary;
    }
  }
  .person_info {
    h3 {
      color: $secondary;
    }
    a {
      color: $link-color;
      &:hover {
        color: $link-hover-color;
        text-decoration: $link-decoration;
      }
      &.phone {
        &:before {
          content: 'Tel: ';
          text-transform: uppercase;
          margin-right: 5px;
        }
      }
      &.mobile {
        &:before {
          content: 'Mobil: ';
          text-transform: uppercase;
          margin-right: 5px;
        }
      }
      &.fax {
        &:before {
          content: 'Fax: ';
          text-transform: uppercase;
          margin-right: 5px;
        }
      }
      &.email {
        &:before {
          content: 'E-Mail: ';
          text-transform: uppercase;
          margin-right: 5px;
        }
      }
      &.url {
        &:before {
          content: 'URL: ';
          text-transform: uppercase;
          margin-right: 5px;
        }
      }
    }
  }
}