<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:hive="http://typo3.org/ns/HIVE/HiveCptCntImg/ViewHelpers">

    <f:layout name="Default" />

    This Template is responsible for creating a table of domain objects.

    If you modify this template, do not forget to change the overwrite settings
    in /Configuration/ExtensionBuilder/settings.yaml:
    Resources:
    Private:
    Templates:
    List.html: keep

    Otherwise your changes will be overwritten the next time you save the extension in the extension builder

    <f:section name="main">

        <f:for each="{contactsector}" as="contactsector" iteration="i">
            <div class="row">
                <div class="col sector_title">
                    <h2>{contactsector.sector.0.title}</h2>
                </div>
            </div>
            <f:for each="{contactsector.person}" as="contactsectorperson" iteration="i_person">
                <div class="row">
                    <f:if condition="{contactsectorperson.image.uid} != ''">
                        <f:then>
                            <div class="col person_img align-self-center">
                                <hive:cptCntImg uid="{contactsectorperson.image.uid}"/>
                            </div>
                        </f:then>
                    </f:if>
                    <div class="col person_info align-self-center">
                        <f:if condition="{contactsectorperson.additional} != ''">
                            <f:format.html>{contactsectorperson.additional}</f:format.html>
                        </f:if>
                        <p>
                            <f:format.raw>{contactsectorperson.name}</f:format.raw><br>
                            <f:if condition="{contactsectorperson.phone} != ''">
                                <a href="tel:{contactsectorperson.phone}" class="phone"><f:format.raw>{contactsectorperson.phone}</f:format.raw></a><br>
                            </f:if>
                            <f:if condition="{contactsectorperson.mobile} != ''">
                                <a href="tel:{contactsectorperson.mobile}" class="mobile"><f:format.raw>{contactsectorperson.mobile}</f:format.raw></a><br>
                            </f:if>
                            <f:if condition="{contactsectorperson.fax} != ''">
                                <a href="fax:{contactsectorperson.fax}" class="fax"><f:format.raw>{contactsectorperson.fax}</f:format.raw></a><br>
                            </f:if>
                            <f:if condition="{contactsectorperson.email} != ''">
                                <a href="mailto:{contactsectorperson.email}" class="email"><f:format.raw>{contactsectorperson.email}</f:format.raw></a><br>
                            </f:if>
                            <f:if condition="{contactsectorperson.url} != ''">
                                <a href="{contactsectorperson.url}" target="_blank" class="url"><f:format.raw>{contactsectorperson.url}</f:format.raw></a><br>
                            </f:if>
                        </p>
                    </div>
                </div>
            </f:for>
        </f:for>

    </f:section>



</div>